html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  overflow: hidden;
}

h1 {
  font-weight: bold;
  margin: 0;
  font-size: 42px;
}

h2 {
  font-weight: bold;
  margin: 0;
  font-size: 32px;
}

#container {
  background: #fff;
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  transition: 0.3s;
}
#container p {
  font-size: 1.9vh;
  font-weight: 100;
  line-height: 3vh;
  letter-spacing: 0.03vw;
  margin: 2.7vh 0 4vh;
}
#container span {
  width: 10vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5vh;
}
#container span div {
  border: 1px solid #ABABAB;
  height: 0.1vh;
  width: 4vw;
}
#container a {
  color: #FF5E00;
  font-size: 1.9vh;
  text-decoration: none;
  margin: 2vh 0;
}
#container .form-container form {
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 0 3vw;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#container .form-container form h1 {
  position: absolute;
  top: 10%;
}
#container .social-container {
  margin: 2.7vh 0;
  display: block;
  width: 9.6vw;
}
#container .social-container a {
  border: 1px solid #FD9346;
  border-radius: 0.2vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 5vh;
  width: 100%;
}
#container .social-container a div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#container .social-container a div img {
  width: 2vh;
  height: 2vh;
}
#container .social-container a div p {
  font-size: 13px;
  margin: 0;
  padding: 0;
  padding-left: 0.5vw;
}
#container .form-container input {
  background: #eee;
  border: none;
  border-radius: 10px;
  padding: 1vh 15px;
  margin: 1vh 0;
  width: 100%;
}
#container .form-container input:hover {
  transform: scale(101%);
}
#container .button-expand {
  transition: all 0.25s ease;
  background: #FD9346;
  box-shadow: inset 0 0 10px 3vw white;
}
#container .button-expand::after {
  box-shadow: inset 0 0 0 1px #FD9346;
}
#container .button-expand:hover {
  box-shadow: inset 0 0 1px 0px white;
  color: white;
}
#container button {
  width: 9.6vw;
  border-radius: 10px;
  box-shadow: 0 1px 1px;
  border: 1px solid #FD9346;
  background: #FD9346;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1.6vh;
  font-weight: bold;
  padding: 1.6vh 2vw;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 0.1s ease-in;
  cursor: pointer;
}
#container button:active {
  transform: scale(0.95);
}
#container button:focus {
  outline: none;
}
#container button.ghost {
  background: transparent;
  border-color: #fff;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.sign-up-container {
  left: 0;
  width: 50%;
  z-index: 1;
  opacity: 0;
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.overlay {
  background: linear-gradient(to right, #FF5E00, #FDA766) no-repeat 0 0/cover;
  color: #fff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateY(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-panel {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2.6vw;
  height: 100%;
  width: 50%;
  text-align: center;
  transform: translateY(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-right {
  right: 0;
  transform: translateY(0);
}

.overlay-left {
  transform: translateY(-20%);
}

#container.right-panel-active .sign-in-container {
  transform: translateY(100%);
}

#container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

#container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
}

#container.right-panel-active .overlay {
  transform: translateX(50%);
}

#container.right-panel-active .overlay-left {
  transform: translateY(0);
}

#container.right-panel-active .overlay-right {
  transform: translateY(20%);
}/*# sourceMappingURL=login.css.map */