* {
  scrollbar-width: auto;
  scrollbar-color: #ABABAB transparent;
}

*::-webkit-scrollbar {
  width: 14px;
}

/*
*::-webkit-scrollbar-track {
    background: $white;
}
*/
*::-webkit-scrollbar-thumb {
  background-color: #ABABAB;
  border-radius: 10px;
  border: 3px solid #ECECEC;
}

*::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media (orientation: portrait) {
  .swiper-container {
    display: none !important;
  }
  #searchInput {
    padding-left: 7vw;
  }
  .product-article {
    width: 30vw !important;
    height: fit-content;
    padding: 2vh 2vh;
    margin-bottom: 4vh;
  }
  .product-article img {
    width: 100%;
    height: 20vh;
    margin-bottom: 5vh;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  body #categories .category {
    font-size: 1.25em !important;
    text-overflow: clip;
  }
  body .product-article {
    width: 17vw;
    height: auto;
    padding: 2vh 2vh;
    margin-bottom: 4vh;
  }
  body .product-article img {
    width: 100%;
    height: 20vh;
    margin-bottom: 5vh;
  }
  #sortby h3 {
    width: max-content;
    margin-left: 1vw;
  }
}
@media screen and (min-width: 1200px) {
  .product-article {
    width: 17vw;
    height: auto;
    padding: 2vh 2vh;
    margin-bottom: 4vh;
  }
  .product-article img {
    width: 100%;
    height: 20vh;
    margin-bottom: 5vh;
  }
}
body header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: auto;
  margin: 1vh 2vw 1vh 2vw;
  margin-bottom: 5vh;
}
body header div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
body header div h1 {
  font-size: 3.5em;
  padding-left: 0.5em;
  margin-left: 0.5em;
  border-left: 0.1em solid #ABABAB;
  width: auto;
  flex: none;
}
body header div img {
  width: 4.8vw;
  height: auto;
}
body header nav {
  margin: 0;
  float: right;
}
body header nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
}
body header nav ul li {
  margin-right: 2vw;
}
body header nav ul li a {
  display: flex;
  flex-direction: column;
  height: 2em;
  width: 2em;
  text-decoration: auto;
}
body header nav ul li a img {
  width: 2em;
  height: 2em;
  margin: 0;
}
body header nav ul .cart-li {
  position: relative;
}
body header nav ul .cart-li img {
  display: flex;
  position: relative;
  top: 0;
  left: 0;
}
body header nav ul .cart-li .dot {
  /* border: 1px solid $orange; */
  color: #FF5E00;
  border-radius: 100%;
  text-decoration: none;
  width: 1vw;
  height: 1vw;
  text-align: center;
  font-size: 1em;
  font-weight: 600;
  position: absolute;
  top: -1vh;
  right: -1vw;
  align-self: self-end;
}
body section .home-products {
  width: 82vw;
  height: auto;
}
body .search {
  width: 60vw;
  height: 7vh;
  border-radius: 10px;
  border: none;
  background: #FFF;
  background-image: url("../../assets/images/utils/searchBar.svg");
  background-repeat: no-repeat;
  background-size: 4vh;
  background-position-y: center;
  background-position-x: 1vw;
  box-sizing: border-box;
  padding-left: 4vw;
  font-family: Kanit;
  font-size: 1.3em;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
body #sortby {
  display: flex;
  flex-direction: row;
  align-items: center;
}
body #sortby select {
  background-color: transparent;
  background-image: url("../../assets/images/utils/selectArrow.png");
  background-repeat: no-repeat;
  background-size: 2.7vh;
  border-radius: 4px;
  background-position-y: center;
  background-position-x: 90%;
  display: inline-block;
  width: fit-content;
  height: fit-content;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;
  border: none;
  /* reset */
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}
body #sortby select:focus {
  border: none;
}
body #sortby select:focus-visible {
  border: none;
}
body section nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 82vw;
  margin: 0 auto;
  margin-bottom: 5vh;
}
body #categories {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  width: 82vw;
  max-height: 5.5vh;
  flex-wrap: wrap;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}
body #categories .category {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  background-color: #F6F6F6;
  width: auto;
  min-width: 8vw;
  height: 5vh;
  margin-right: 1vw;
  margin-bottom: 2vh;
  color: #ABABAB;
  font-size: 1.5em;
  font-style: normal;
  font-weight: 500;
  border-radius: 10px;
  text-align: center;
  align-content: center;
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.25);
  list-style: none;
  user-select: none;
  padding: 0 1vw;
  cursor: pointer;
  transition: all ease 0.2s;
}
body #categories .category:hover {
  transform: scale(0.99);
}
body #categories .selectedCategory {
  background-color: #FF5E00;
  color: #ECECEC;
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.25);
  list-style: none;
  cursor: pointer;
}
body button {
  height: 3vh;
  width: 3vh;
  margin: 0;
  padding: 0;
  margin-top: 1vh;
  margin-left: -1vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: none;
  background: transparent;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}
body button img {
  width: 100%;
  height: 100%;
}
body .show-more-categories {
  padding: 0;
  display: flex;
  flex-direction: row;
  max-height: 100vh !important;
}
body .show-less-categories {
  transform: scaleY(-1);
}
body #itemsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 82vw;
  margin: 0 auto;
  margin-bottom: 5vh;
}
body .product-article {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
  height: fit-content;
}
body .product-article img {
  object-fit: cover;
}
body .product-article .product-heart {
  margin: 0;
  position: relative;
  top: 1vh;
  left: 1vh;
  width: 3vh;
  height: 3vh;
  object-fit: contain;
}
body .product-article p {
  margin: 0;
  font-size: 1.3em;
  font-weight: 600;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

body .swiper-container {
  margin-top: 5vh;
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
body .swiper-container .swiper-wrapper {
  height: 100%;
  display: flex;
  transition: transform 0.5s ease-in-out;
}
body .swiper-container .swiper-wrapper .swiper-slide {
  min-width: 100%;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1vh;
  position: relative;
}
body .swiper-container .swiper-wrapper .swiper-slide .content {
  background: var(--GradientYellow, linear-gradient(90deg, #FFCB74 0%, #FF5E00 100%));
  display: flex;
  flex-direction: row;
  height: 30vh;
  width: 82vw;
  margin: 0 auto;
  border-radius: 1vh;
  padding: 1vh;
  position: relative;
  overflow: visible;
}
body .swiper-container .swiper-wrapper .swiper-slide .text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: max-content;
  text-align: left;
}
body .swiper-container .swiper-wrapper .swiper-slide .text h2 {
  width: max-content;
  font-size: 4em;
  margin-left: 5%;
  margin-top: 1.5%;
}
body .swiper-container .swiper-wrapper .swiper-slide .text .ExploreNow {
  color: #ececec;
  border-radius: 10px;
  padding: 2em;
  background-color: black;
  width: fit-content;
  margin-bottom: 5%;
  margin-left: 5%;
}
body .swiper-container .swiper-wrapper .swiper-slide .text .ExploreNow p {
  font-size: 2em;
  margin: 0;
}
body .swiper-container .swiper-wrapper .swiper-slide .foto {
  width: 29vw;
  height: 100%;
  overflow: visible;
  position: absolute;
  right: -10vw;
  float: right;
  top: 0;
}
body .swiper-container .swiper-wrapper .swiper-slide .foto img {
  width: 100%;
  max-width: 370px;
  height: 100%;
  object-fit: cover;
}
body .swiper-container .swiper-buttons {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  width: 100%;
}
body .swiper-container .swiper-button {
  width: 2.3vh;
  height: 2.3vh;
  margin: 0 0.2em;
  border: 0.3em solid black;
  border-radius: 50%;
  background-color: #ececec;
}
body .swiper-container .swiper-button-active {
  background-color: #ababab !important;
}

.categories-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.5em;
  width: 82vw;
  align-items: center;
  margin: 0 auto;
}
.categories-title a {
  color: #ABABAB;
}

#compraExitosa {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#compraExitosa form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#compraExitosa form .button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  width: 100%;
  max-width: 400px;
}
#compraExitosa form input[type=submit],
#compraExitosa form button#cancelar {
  flex: 1;
  margin: 0 5px;
}/*# sourceMappingURL=main.css.map */