* {
  scrollbar-width: auto;
  scrollbar-color: #ABABAB transparent;
}

*::-webkit-scrollbar {
  width: 14px;
}

/*
*::-webkit-scrollbar-track {
    background: $white;
}
*/
*::-webkit-scrollbar-thumb {
  background-color: #ABABAB;
  border-radius: 10px;
  border: 3px solid #ECECEC;
}

*::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: auto;
  margin: 1vh 2vw 1vh 2vw;
}
body header div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
body header div h1 {
  font-size: 3.5em;
  padding-left: 0.5em;
  margin-left: 0.5em;
  border-left: 0.1em solid #ABABAB;
  width: auto;
  flex: none;
}
body header div img {
  width: 4.8vw;
  height: auto;
}
body header nav {
  float: right;
}
body header nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
}
body header nav ul li {
  margin-right: 2vw;
}
body header nav ul li a {
  display: flex;
  height: auto;
}
body header nav ul li a img {
  width: 2em;
  height: 2em;
  margin: 0;
}
body nav {
  display: flex;
  justify-content: center;
}
body #categories {
  padding: 0;
  display: flex;
  flex-direction: row;
  width: 80vw;
  height: 15vh;
  overflow-x: auto;
}
body #categories .category {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #F6F6F6;
  width: 8vw;
  min-width: 8vw;
  height: 10vh;
  margin-right: 1vw;
  color: #ABABAB;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  border-radius: 10px;
  text-align: center;
  align-content: center;
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.25);
  list-style: none;
  user-select: none;
  cursor: pointer;
  transition: all ease 0.2s;
}
body #categories .category:hover {
  transform: scale(0.95);
}
body #categories .selectedCategory {
  background-color: #FF5E00;
  color: #ECECEC;
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.25);
  list-style: none;
  cursor: pointer;
}

#productPage {
  width: 100vw;
  height: 88vh;
  background-color: #ececec;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
#productPage * {
  font-family: "Kanit";
  margin: 0;
  padding: 0;
}
#productPage #main {
  display: grid;
  grid-template-columns: 50vw 50vw;
  justify-content: left;
  justify-self: left;
}
#productPage .image {
  background-color: white;
  border-radius: 15px;
  margin-left: auto;
}
#productPage #allImages {
  width: 65vw;
  height: 80vh;
  display: grid;
  grid-template-columns: 50% 50%;
  justify-self: right;
  padding-right: 1vw;
}
#productPage #allImages #images {
  height: 60%;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-right: 1vw;
}
#productPage #allImages #images .image {
  width: 5vw;
  height: auto;
  display: flex;
}
#productPage #allImages #images .image img {
  width: 100%;
  height: auto;
}
#productPage #allImages #images .image:hover {
  background-color: #ff5e00;
}
#productPage #allImages #images .clicked {
  background-color: rgba(255, 94, 0, 0.4);
}
#productPage #allImages #mainImage {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#productPage #allImages #mainImage img {
  width: 100%;
}
#productPage #info {
  width: 70%;
  grid-column-start: 2;
  grid-column-end: 3;
}
#productPage #info h2 {
  opacity: 0.3;
}
#productPage #info #options {
  width: 100%;
}
#productPage #info #options #sizes {
  width: 80%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#productPage #info #options #sizes button, #productPage #info #options #sizes button:hover {
  width: 20%;
  margin: 3px;
  font-size: larger;
  border: none;
  border-radius: 10px;
  background-color: #FFFFFF;
  font-size: 20px;
  width: 20%;
  color: black;
}
#productPage #info #options #sizes button:hover {
  background-color: #ff5e00;
  color: #FFFFFF;
}
#productPage #info #options #buttons {
  width: 80%;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}
#productPage #info #options #buttons a {
  font-size: larger;
  width: 30%;
}
#productPage #info #options #buttons #wishlist {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  text-decoration: none;
}
#productPage #info #options #buttons #wishlist svg {
  width: 1.5vw;
  height: auto;
  fill: black;
}
#productPage #info #options #buttons #wishlist svg.inWishList {
  fill: red;
}
#productPage #info #options #buttons #cart {
  text-align: center;
}
#productPage #info #options #description h4 {
  opacity: 0.6;
}
#productPage #info h1 {
  font-size: 50px;
}
#productPage #info h3 {
  font-size: 30px;
}
#productPage a, #productPage a:hover {
  border: none;
  border-radius: 10px;
  background-color: #FFFFFF;
  font-size: 20px;
  width: 20%;
  color: black;
}
#productPage a:hover {
  background-color: #ff5e00;
  color: #FFFFFF;
}
#productPage a:hover > svg * {
  fill: #FFFFFF;
}

body .swiper-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body .swiper-container .swiper-wrapper {
  height: 100%;
  display: flex;
  transition: transform 0.5s ease-in-out;
}
body .swiper-container .swiper-wrapper .swiper-slide {
  min-width: 100%;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  position: relative;
}
body .swiper-container .swiper-wrapper .swiper-slide .text {
  background-color: rgb(249, 179, 48);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60%;
  width: 60%;
  border-radius: 1vh;
  margin: 0 auto;
  padding: 10px;
}
body .swiper-container .swiper-wrapper .swiper-slide .text h5 {
  margin-bottom: 5%;
}
body .swiper-container .swiper-wrapper .swiper-slide .text .ExploreNow {
  color: #ececec;
  border-radius: 10px;
  padding: 10px 25px;
  background-color: black;
  width: fit-content;
}
body .swiper-container .swiper-wrapper .swiper-slide .text .ExploreNow p {
  margin: 0;
}
body .swiper-container .swiper-wrapper .swiper-slide .foto {
  width: 40%;
  height: 40%;
  position: absolute;
  top: 60%;
  right: 0;
}
body .swiper-container .swiper-wrapper .swiper-slide .foto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
body .swiper-container .swiper-buttons {
  position: absolute;
  bottom: 10px;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
}
body .swiper-container .swiper-button {
  width: 15px;
  height: 15px;
  margin: 0 5px;
  border: 3px solid black;
  border-radius: 50%;
  background-color: #ececec;
}
body .swiper-container .swiper-button-active {
  background-color: #ababab !important;
}/*# sourceMappingURL=main.css.map */