@import 'variables.scss';
@import 'mixins.scss';
@import 'https://fonts.googleapis.com/css?family=Kanit';


body {
    background-color: $white;
    margin: 0;
    padding: 0;
    font-family: Kanit;
}

// Header Styles

header {
	display: flex;
	width: 100%;
	align-items: center;
    
	h1 {
    	font-size: 64px;
    	margin: 0;
    	flex: 1;
    	text-align: center;
	}

	img {
    	filter: brightness(0);
    	height: 2.6vw;
    	width: 2.6vw;
        margin-right: 2.6vw;

    	&:hover {
        	filter: brightness(1);
        	transform: scale(1.01);
    	}
	}
}

#container {
    width: 100%;
    height: 82vh;
}

// Left Panel Styles

#leftPanel {
    border: 1px solid black;
    overflow: hidden;
    height: 100%;
    float: left;
    margin-left: 6vw;
    .panels {
        display: flex;
        flex-direction: column;
        height: fit-content;
    }
    .panel {
        background-color: $adminOrange;
        width: 12.7vw;
        height: 13.5vh;
        display: flex;
        flex-direction: column;
        align-content: center;
        border-radius: $radius;
        padding: 2.5vh;
        margin-bottom: 2.5vh;
        transition: all ease 0.33s 0;
        cursor: pointer;
        user-select: none;
        img {
            transition: 0.33s;
            width: 7vh;
            height: 7vh;
        }
        p {
            font-size: 36px;
            margin-top: -2vh;
        }
    }
    
    .panel:hover {
        background-color: $adminOrangeHover;
        transform: scale(101%);
        img {
            transform: rotateZ(13deg);
        }
    }
}

// Right Panel Style

#rightPanel {
    float: right;
    width: 41vw;
    height: 100%;
    margin-right: 20vw;
    h2 {
        margin-top: 2vh;
        font-size: 42px;
        justify-self: center;
        text-align: center;
    }
    #listContainer {
        width: 100%;
        height: 100%;
    }
}

// Search bar

#navBar {
    width: 100%;
    display: flex;
    height: auto;
    #searchBar {
        background-color: white;
        width: 100%;
        border-radius: $radius;
        display: flex;
        align-items: center;
        margin-right: 2vh;
        
        input {
            background-color: transparent;
            padding-left: 2vh;
            width: 100%;
            height: 6vh;
            border: none;
        }
        #searchBtn {
            height: 6vh;
        }
    }

    img {
        filter: brightness(0);
        width: 6vh;

        &:hover {
        	filter: brightness(1);
        	transform: scale(1.01);
    	}
    }

    #addBtn {
        display: flex;
        background-color: white;
        border-radius: $radius;
    }
    
}