@import 'variables.scss';
@import 'mixins.scss';
@import 'https://fonts.googleapis.com/css?family=Kanit';

/*  IMPORTANTE

    El código está seccionado con los siguientes comentarios
    Abre el buscador utilizando Ctrl + F y busca:

    General
        Header Styles
        Container
        Left Panel Styles
            Forms
        Right Panel Styles
        Search Bar
    
    Components
        Categories
        Default (El resto de componentes)
        Scrollbar
            Firefox
            Chrome, Edge, Safari

*/

// General

body {
    background-color: $white;
    margin: 0;
    padding: 0;
    font-family: Kanit;
}

// Header Styles

header {
	display: flex;
	width: 100%;
	align-items: center;
    user-select: none;
	h1 {
    	font-size: 64px;
    	margin: 0;
    	flex: 1;
    	text-align: center;
	}

	img {
    	filter: brightness(0);
    	height: 2.6vw;
    	width: 2.6vw;
        margin-right: 2.6vw;
    	&:hover {
        	filter: brightness(1);
        	transform: scale(1.01);
    	}
	}
}

// Container

#container {
    width: 100%;
    height: 82vh;
}

// Left Panel Styles

#leftPanel {
    //border: 1px solid black;
    //overflow: hidden;
    position: relative;
    display: flex;
    height: 100%;
    width: 32vw;
    float: left;
    margin-left: 6vw;
    .panels {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        transition: all 0.5s ease;
        .panel {
            background-color: $adminOrange;
            width: 12.7vw;
            height: 13.5vh;
            display: flex;
            flex-direction: column;
            align-content: center;
            border-radius: $radius;
            padding: 2.5vh;
            transition: all ease 0.33s 0;
            cursor: pointer;
            user-select: none;
            img {
                transition: 0.33s;
                width: 7vh;
                height: 7vh;
            }
            p {
                font-size: 36px;
                margin-top: -2vh;
            }
        }
        .panel:hover {
            background-color: $adminOrangeHover;
            transform: scale(101%);
            img {
                transform: rotateZ(13deg);
            }
        }
    }
    
    .adminForm {
        height: 71.5vh;
        width: 30vw;
        padding: 5vh 1vw;
        background-color: $adminOrange;
        border-radius: $radius;
        display: flex;
        flex-direction: column;
        transition: all 0.5s ease;
        h4 {
            margin: 0;
            padding: 0;
            font-size: 32px;
            text-align: center;
        }
        form {
            display: flex;
            flex-direction: column;
        }
    }
    #formEditCategory {
        margin-left: 2vw;
        position: absolute;
        animation: slideLeft 2s ease-in-out forwards;
        
        #editCategoryTitle {
            margin-bottom: 5vh;
        }
        label {
            font-size: 20px;
        }
        input {
            border-radius: $radius;
            border: none;
            height: 3vh;
        }
        div {
            margin-bottom: 2.5vh;
            label {
                margin-right: 3vw;
            }
        }
        select {
            background-image: url("../../assets/images/utils/selectArrow.png");
            background-size: contain;
            background-repeat: no-repeat;
            background-color: transparent;
            background-position: 100%;
            appearance: none;
            border: none;
            border-bottom: 1px solid black;
            width: 6vw;
            font-size: 16px;
            font-weight: 500;
        }
        #name {
            width: 10vw;
            margin-bottom: 2.5vh;
        }
        #listado {
            margin: 0;
            padding: 1vw;
            height: 32.5vh;
            overflow-y: scroll;
            li {
                list-style: none;
                margin: 0;
            }
        }
        
        .submitBtn {
            margin-top: 2vh;
            height: 4vh;
            background-color: $greenSave;
            font-size: 16px;
        }
        
    }
    .orderInfo {
        background-color: $adminOrange;
        height: 100%;
        width: 16vw;  // Ajustar al ancho deseado
        margin-left: 1vh;  // Agregar margen a la izquierda
        display: flex;
        flex-direction: column;
        align-content: center;
        border-radius: $radius;
        margin-bottom: 2.5vh;
        transition: all ease 0.33s 0;
        cursor: pointer;
        user-select: none;
        h2, form{
            padding-left: 2.5vh;
            label{
                text-decoration: underline;
            }
            label[for="status"], label[for="price"] {
                text-decoration: none;
            }
        }
        h2{
            text-align: center;
        }
        #name{
            padding-top: 2.5vh;
        }
        ul{
            padding-left: 4vh;
        }
        div{
            padding-left: 2vh;
            padding-right: 2vh;
        }
        #productsAmount {
            width: 100%;
            padding-left: 0;
            padding-right: 4vh;
            #text, #list{
                padding-right: 4vh;
                padding-left: 0;
                display: flex;
                justify-content: space-between;
                position: relative;
                text-align: center;
            }
            #text::after {
                content: '';
                position: absolute;
                left: 0;
                right: 4vh;
                bottom: 0;
                height: 2px; /* Ajusta el grosor del subrayado según sea necesario */
                background-color: black; /* Ajusta el color del subrayado según sea necesario */
            }
            #text label{
                text-decoration: none; /* Desactiva el subrayado en las etiquetas individuales si es necesario */
            }
        }
        #divStatus, #divPrice{
            padding-left: 0;
            display: flex;
            justify-content: space-between;
        }    
    }
}
@keyframes slideLeft {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

// Right Panel Style

#rightPanel {
    float: right;
    width: 41vw;
    height: 100%;
    margin-right: 20vw;
    h2 {
        margin-top: 2vh;
        font-size: 42px;
        justify-self: center;
        text-align: center;
        user-select: none;
    }
    #listContainer {
        width: 100%;
        height: 56vh;
        
        overflow-y: scroll;
    }
    .dashboardList {
        margin-top: 14vh;
    }
}

// Search bar

#navBar {
    width: 100%;
    display: flex;
    height: auto;
    margin-bottom: 3vh;
    user-select: none;
    #searchBar {
        background-color: white;
        width: 100%;
        border-radius: $radius;
        display: flex;
        align-items: center;
        margin-right: 2vh;
        input {
            background-color: transparent;
            padding-left: 2vh;
            width: 100%;
            height: 6vh;
            border: none;
        }
        #searchBtn {
            height: 6vh;
        }
    }

    img {
        filter: brightness(0);
        width: 6vh;

        &:hover {
        	filter: brightness(1);
        	transform: scale(1.01);
    	}
    }

    #addBtn {
        display: flex;
        background-color: white;
        border-radius: $radius;
    }
    
}

// Components

.editBtn {
    width: 4vh;
    height: 4vh;
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 2.5vh;
        height: 2.5vh;
        filter: brightness(0);
    }

    &:hover {
        transform: scale(1.01);
        img {
            filter: brightness(1);
        }
    }
}

.downloadBillBtn {
    width: 4vh;
    height: 4vh;
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 2.5vh;
        height: 2.5vh;
        filter: brightness(0);
    }

    &:hover {
        transform: scale(1.01);
        img {
            filter: brightness(1);
        }
    }
}

// Categories

.categoryComponent {
    width: 100%;
    height: 6vh;
    display: flex;
    flex-direction: row;
    background-color: $adminOrange;
    justify-content: space-between;
    align-items: center;
    border-radius: $radius;
    margin-bottom: 3vh;
    h5 {
        margin-left: 2vh;
        font-size: 16px;
        user-select: none;
    }

    p {
        color: $grey;
        text-align: center;
        user-select: none;
    }

    div {
        margin-right: 2vh;
        user-select: none;
    }
}

// Default

.defaultComponent {
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: row;
    background-color: $adminOrange;
    align-items: center;
    border-radius: $radius;
    margin-bottom: 3vh;
    user-select: none;

    .imageComponent {
        background-color: $white;
        width: 12vh;
        height: 12vh;
        border-radius: $radius;
        margin-left: 2vh;
        display: flex;
        justify-content: center;
        align-items: center;
        user-select: none;
        img {
            width: 12vh;
        }
    }

    h4 {
        font-size: 16px;  
        margin: 0;
        padding: 0;
        user-select: none;
    }

    p {
        font-size: 14px;
        margin: 0;
        padding: 0;
        color: $grey;
        user-select: none;

        span {
            font-size: 14px;
            margin: 0;
            padding: 0;
            color: $grey;
            user-select: none;
            margin-left: 2vh;
        }
    }

    h5 {
        font-size: 14px;  
        margin: 0;
        padding: 0;
        user-select: none;
    }

    .textOnLeft {
        margin-left: 2vh;
        display: flex;
        flex-direction: column;
        width: 40vw;
        height: 80%;
        user-select: none;
    }

    .textOnRight {
        margin-right: 2vh;
        display: flex;
        flex-direction: column;
        width: 20vw;
        height: 80%;
        justify-content: center;
        align-items: right;
        text-align: end;
        user-select: none;

        .downloadBillBtn {
            align-self: end;
            margin-bottom: 2vh;
        }

        .editBtn {
            align-self: end;
        }
    }
}


// Scrollbar

    // Firefox
    * {
        scrollbar-width: auto;
        scrollbar-color: $grey transparent;
    }

    // Chrome, Edge, Safari
    *::-webkit-scrollbar {
        width: 14px;
    }

    *::-webkit-scrollbar-track {
        background: $white;
    }

    *::-webkit-scrollbar-thumb {
        background-color: $grey;
        border-radius: 10px;
        border: 3px solid $white;
    }
    *::-webkit-scrollbar-thumb:hover {
        background: #555;
    }