@import 'mixins.scss';
@import 'variables.scss';
@import 'scrollbar.scss';

body {
    nav {
        display: flex;
        justify-content: center;
    }
    #categories {
        padding: 0;
        display: flex;
        flex-direction: row;
        width: 80vw;
        height: 15vh;
        overflow-x: auto;
        .category {
            display: grid;
            place-items: center;
            background-color: #F6F6F6;
            width: 8vw;
            min-width: 8vw;
            height: 10vh;
            margin-right: 1vw;
            color: $grey;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            border-radius: $radius;
            text-align: center;
            align-content: center;
            box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.25);
            list-style: none;
            user-select: none;
            cursor: pointer;
            transition: all ease 0.2s;
            &:hover {
                transform: scale(0.95);
            }
        }
        .selectedCategory {
            background-color: $orange;
            color: $white;
            box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.25);
            list-style: none;
            cursor: pointer;
        }
    }
}

    main{
        width: 100vw;
        height: 88vh;
        background-color: #ececec;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }
    *{
        font-family: 'Kanit';
        margin: 0;
        padding: 0;
    }
    #main{
        display: grid;
        grid-template-columns: 50vw 50vw;
        justify-content: left;
        justify-self: left;
    }
    .image{
        background-color: white;
        border-radius: 15px;
        margin-left: auto;
    }
  
    #allImages{
        width: 65vw;
        height: 80vh;
        display: grid;
        grid-template-columns: 50% 50%;
        justify-self: right;
        padding-right: 1vw;
        #images{
            height: 60%;
            align-self: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            padding-right: 1vw;
            .image{
                width: 5vw;
                height: auto;
                display: flex;
                img{
                    width: 100%;
                    height: auto;
                }
            }
            .image:hover{
                background-color: #ff5e00;
            }
            .clicked{
                background-color: rgba(255, 94, 0, 0.40);
            }
        }
        #mainImage{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                width: 100%;
            }
        }
    }
    #info{
        width: 70%;
        grid-column-start: 2;
        grid-column-end: 3;
        h2{
            opacity: 0.3;
        }
        #options{
            width: 100%;
            #sizes{
                width: 80%;
                display: flex;
                justify-content: space-between	;
                flex-wrap: wrap;
                button{
                    width: 20%;
                    margin: 3px;
                    font-size:larger;
                }
            }
            #buttons{
                width: 80%;
                padding-top:10px;
                display: flex;
                justify-content: space-between;
                button{
                    font-size:larger;
                    width: 30%;
                }
                #wishlist{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-evenly;
                    svg{
                        width:  1.5vw;
                        height: auto;
                        fill: black;
                    }
                    
                }
            }

            #description{
                h4{
                    opacity: 0.6;
                }
            }
        }
        h1{
            font-size: 50px;
        }
        h3{
            font-size: 30px;
        }
    }
    button, button:hover{
        border: none;
        border-radius: 10px;
        background-color: #FFFFFF;
        font-size: 20px;        
        width: 20%;
    }
    button:hover{
        background-color: #ff5e00;
        color: #FFFFFF;
    }

    button:hover > svg *{
        fill:white;
    }

    // slider images
    body {
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }
      
      .swiper-container {
        position: relative;
        width: 100%;
        height: 40%;
        overflow: hidden;
        // border: 2px solid black;
      }
      
      .swiper-wrapper {
        height: 100%;
        display: flex;
        transition: transform 0.5s ease-in-out;
      }
      
      .swiper-slide {
        min-width: 100%;
        box-sizing: border-box;
        text-align: center;
        // background-color: #87CEEB;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        position: relative;
      
        .text {
          background-color: rgb(249, 179, 48);
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 70%;
          width: 60%; // Adjusted width for better layout
          // border: solid 2px black;
          border-radius: 1vh;
          margin-bottom: 2%;
          margin: 0 auto; // Center the text horizontally
      
          h5 {
            width: fit-content; // Full width within the .text div
            height: fit-content;
            margin-left: 5%;
            // border: solid 2px red;
            margin-top: 5%;
            font-size: 30px;
          }
      
          .ExploreNow {
            color: #ececec;
            // border: 2px solid black;
            border-radius: 10px;
            padding: 10px 25px;
            background-color: black;
            width: fit-content; // Full width within the .text div
            margin-bottom: 5%;
            margin-left: 5%;
      
            p {
              margin: 0;
            }
          }
        }
      
        .foto {
          width: 40%;
          // border: solid 2px black;
          position: absolute;
          top: -5%; // Position at the top
          right: 4%; // Position at the right
      
          img {
            width: 50%; // Make the image take the full width of its parent (.foto)
            height: 50%; // Make the image take the full height of its parent (.foto)
            object-fit: cover; // Maintain the aspect ratio and cover the container
          }
        }
      }
      
      .swiper-buttons {
        position: absolute;
        bottom: 10px;
        display: flex;
        justify-content: center;
        width: 100%;
        // border: 2px solid black;
      }
      
      .swiper-button {
        width: 15px;
        height: 15px;
        margin: 0 5px;
        border: 3px solid black;
        border-radius: 50%;
        background-color: #ececec;
      }
      
      .swiper-button-active {
        background-color: #ababab !important;
      }
      