<div id="createCategoryForm">
    <form>
        <label for="name">Product Name</label>
        <input name="name" class="name" type="text">
        <label for="price">Price</label>
        <input type="text" name="price" class="price">
        <label for="stock">stock</label>
        <input type="text" name="stock" class="stock">
        <select name="status">
            <option value="enabled">Enabled</option>
            <option value="disabled">Disabled</option>
        </select>
    </form>
</div>