<div id="formCreateCategory" class="adminForm">
    <button id="closeCreateCategoryForm"><img src='views/assets/images/utils/signout.png'></button>
    <h4 id="editCategoryTitle">Create Category</h4>
    <form action="index.php?page=Category&action=createCategory" method="POST">
        <label for="name">Category name</label>
        <input type="text" name="name" id="name">
        <div>
            <label for="active">Status</label>
            <select name="active" id="select">
                <option id="enabled" value="enabled">enabled</option>
                <option id="disabled" value="disabled">disabled</option>
            </select>
        </div>
        <input type="submit" class="submitBtn" value="Save changes"></input>
    </form>
</div>