<div id="formEditCategory" class="adminForm">
    <button id="closeEditCategoryForm"><img src='views/assets/images/utils/signout.png'></button>
    <h4 id="editCategoryTitle">Edit Category</h4>
    <form action="index.php?page=Category&action=editCategory" method="POST" id="editCategoryForm">
        <input type="hidden" name="code" id="code">
        <label for="name">Category name</label>
        <input type="text" name="name" id="name" required>
        <span id="error"></span>
        <div>
            <label for="active">Status</label>
            <select name="active" id="select">
                <option id="enabled" value="enabled">enabled</option>
                <option id="disabled" value="disabled">disabled</option>
            </select>
        </div>
        <label for="">Products</label>
        <ul id="listado" class="productsList">
        </ul>
        <input type="submit" class="submitBtn" value="Save changes">
    </form>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var form = document.getElementById('editCategoryForm');
        var nameInput = document.getElementById('name');
        var submitBtn = document.querySelector('.submitBtn');
        var errorSpan = document.getElementById('error');

        form.addEventListener('submit', function (event) {
            var forbiddenCharacters = /[$&_/(%)@<>]/;

            if (forbiddenCharacters.test(nameInput.value)) {
                errorSpan.textContent = 'Invalid name';
                errorSpan.style.color = 'red';
                submitBtn.disabled = true; // Deshabilitar el botón de enviar
                event.preventDefault(); // Evitar el envío del formulario
            }
        });

        nameInput.addEventListener('input', function () {
            errorSpan.textContent = ''; // Limpiar el mensaje de error
            submitBtn.disabled = false; // Habilitar el botón de enviar cuando se modifica el campo
        });
    });
</script>