<div>
    <!--Logo Image-->
    <img src="../assets/images/utils/logo.png" alt="Urban store logo">
    <!--Title-->
    <h1>Urban store</h1>
    <!--Options-->
    <div id="buttons">
        <img id="homeButton" src="../assets/images/utils/home.png" alt="Home">
        <img id="searchButton" src="../assets/images/utils/search.png" alt="Search">
        <img id="outstandingButton" src="../assets/images/utils/outstanding.png" alt="Outstanding">
        <img id="cartButton" src="../assets/images/utils/cart.png" alt="Cart">
        <img id="bellButton" src="../assets/images/utils/bell.png" alt="Notifications">
        <img id="customersButton" src="../assets/images/utils/customers.png" alt="Profile">
    </div>
</div>